<html lang="en">

	<%- include('../partials/head.ejs')%>

		<body>
			<div id="game">
				<div id="gameInfo">
					<div id="scores">
						<h3>Scores</h3>
						<% for (let player of Object.values(game.players)) { %>
							<p id="<%- player.id %>"><%- player.username %>: <%- player.score %>
							</p>
							<% } %>
					</div>
					<% if(game.owner==currentUser.id) { %>
						<div id="controls">
							<button onclick="socket.emit('endGame')">End Game</button>
							<button onclick="resetLetters()">Reset Letters</button>
						</div>
						<% } %>
				</div>
				<table id="board">
					<tbody>
						<% for (let [rowIndex, row] of Object.entries(game.board)) { %>
							<tr class="row" id="row-<%- rowIndex %>">
								<% for (let [letterIndex,letter] of Object.entries(row)) { %>
									<td class="letterCell" id="board-<%- letterIndex %>,<%- rowIndex %>" data-x="<%- letterIndex %>"
										data-y="<%- rowIndex %>">
										<% if (false) { %>
											<p class="letter" id="board-<%- letterIndex %>,<%- rowIndex %>">
												<% if (letter.length> 0) { %>
													<%- letter[letter.length - 1].letter %>
														<% } %>
											</p>
											<p class="stack">
												<% if (letter.length> 0) { %>
													<%- letter.length %>
														<% } %>
											</p>
											<% } %>
									</td>
									<% } %>
							</tr>
							<% } %>
					</tbody>
				</table>
				<div id="letters">
					<% for (let [index, letter] of Object.entries(currentUser.letters)) { %>
						<div class="letterCell" id="hand-<%- index %>">
							<div class="letterPiece" id="hand-<%- index %>">
								<p class="letter"><%- letter %></p>
							</div>
						</div>
						<% } %>
				</div>
			</div>
		</body>

		<script>
			let game = JSON.parse('<%- JSON.stringify(game) %>')
			let currentUser = JSON.parse('<%- JSON.stringify(currentUser) %>')
			// console.log(game);

			let dragElement = null

			for (let letterCell of document.getElementsByClassName('letterCell')) {
				letterCell.addEventListener('dragover', (event) => {
					event.preventDefault()
				})
				letterCell.addEventListener('drop', (event) => {
					event.preventDefault()

					let dropElement = event.currentTarget
					let currentLetter = dropElement.children[0]

					if (dropElement == dragElement.parentNode) return

					if (currentLetter) {
						dropElement.removeChild(currentLetter)
						dragElement.parentNode.appendChild(currentLetter)
					}

					dragElement.classList.remove('dragging')
					dragElement.parentNode.removeChild(dragElement)
					dropElement.appendChild(dragElement)

					dragElement = null
				})
			}

			for (let letterPiece of document.getElementsByClassName('letterPiece')) {
				letterPiece.setAttribute('draggable', true)

				letterPiece.addEventListener('dragstart', (event) => {
					if (dragElement) return

					dragElement = event.target
					dragElement.classList.add('dragging')
				})
			}

			//  function load(newGame) {
			//    let board = newGame.board

			//    for (let rowIndex = 1; board.length; rowIndex++) {
			//      let row = board[rowIndex]

			// for (let letter)
			//    }
			//  }

			function resetLetters() {
				for (let i = 0; i < currentUser.letters.length; i++) {
					let letterElement = document.querySelector(`.letterPiece#hand-${i}`)

					let parentElement = letterElement.parentNode

					if (parentElement.id == `hand-${i}`) continue

					letterElement.parentNode.removeChild(letterElement)
					document.querySelector(`.letterCell#hand-${i}`).appendChild(letterElement)
				}
			}

			//  window.onload = load(game);
		</script>

</html>